/* Variables */
/* Reset */
body, p, a, ul, li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  list-style: none;
}

/* Base styles */
body {
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

/* Mobile styles */
.container {
  width: 85vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.navbar nav {
  display: none;
}

.navbar .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav {
  position: fixed;
  z-index: 10;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(54, 62, 100, 0.98);
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.navbar .mobile-menu-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  padding: 2.5rem;
}

.navbar .mobile-menu-exit {
  cursor: pointer;
  width: 30px;
}

.navbar__li {
  padding: 1.25rem 1rem;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid rgba(124, 124, 124, 0.39);
  width: 80vw;
}

.navbar__li:first-of-type {
  border-top: 1px solid rgba(124, 124, 124, 0.39);
}

.navbar__li--login {
  display: inline-block;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.6rem 30vw;
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.hero__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero__img img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 360px;
  margin-top: 1rem;
}

.hero__h1 {
  color: #262b48;
  font-weight: 500;
  margin-top: 2rem;
  font-size: 2rem;
}

.hero__paragraph {
  color: #919191;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -0.5rem;
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__link {
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.hero__link--chrome {
  color: #ffffff;
  background-color: #5266df;
  margin-right: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(51, 51, 51, 0);
}

.hero__link--chrome:hover {
  border: 2px solid #5266df;
  background-color: #ffffff;
  color: #5266df;
}

.hero__link--firefox {
  color: #262b48;
  background-color: #f3f2ec;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(51, 51, 51, 0);
}

.hero__link--firefox:hover {
  border: 2px solid #555;
  background-color: #ffffff;
}

.shape {
  position: absolute;
  background-color: #5266df;
  z-index: -1;
}

.hero__bgshape {
  width: 290px;
  height: 200px;
  top: 165px;
  right: 0px;
  border-bottom-left-radius: 50%;
}

.features {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.features .features__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__h2 {
  color: #262b48;
  font-weight: 500;
  margin-top: 8rem;
  font-size: 1.5rem;
}

.features__paragraph {
  color: #919191;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -0.25rem;
  margin-bottom: 2rem;
}

.features .tablinks {
  width: 100%;
  padding: 1.1rem 0;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.features .tablinks:hover {
  color: #ff5659;
}

.features .tablinks:first-of-type {
  border-top: none;
}

.features .tablinks:hover::after {
  width: 85%;
  height: 4px;
  background-color: #ff5659;
  content: '';
  display: block;
  position: absolute;
  margin: 14px auto 0 auto;
}

.features .active {
  color: #ff5659;
}

.features .active:after {
  width: 85%;
  height: 4px;
  background-color: #ff5659;
  content: '';
  display: block;
  position: absolute;
  margin: 14px auto 0 auto;
}

.features .tabcontent img {
  max-width: 85%;
  margin-top: 4.5rem;
  z-index: -1;
}

.features .tabcontent__h3 {
  color: #262b48;
  font-weight: 500;
}

.features .tabcontent__paragraph {
  color: #919191;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.features .tabcontent__link {
  padding: 0.75rem 1.25rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5266df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(51, 51, 51, 0);
}

.features .tabcontent__link:hover {
  border: 2px solid #5266df;
  background-color: #ffffff;
  color: #5266df;
}

.download {
  margin-top: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.download__h2 {
  color: #262b48;
  font-weight: 500;
  font-size: 1.5rem;
}

.download__paragraph {
  color: #919191;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: -0.25rem;
}

.download__cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__card {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 24px -10px gray;
          box-shadow: 0px 0px 24px -10px gray;
  text-align: center;
  padding: 5rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
  width: 80%;
}

.download__title {
  color: #262b48;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .3rem;
}

.download__version {
  color: #919191;
  font-size: 15px;
  margin-bottom: 2.5rem;
}

.download__dots {
  margin-bottom: 1.5rem;
  width: 100%;
}

.download__link {
  background-color: #5266df;
  font-size: 14px;
  font-weight: 500;
  padding: .8rem 2rem;
  color: #ffffff;
  font-size: 0.9rem;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(51, 51, 51, 0);
}

.download__link:hover {
  border: 2px solid #5266df;
  background-color: #ffffff;
  color: #5266df;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq__h2 {
  text-align: center;
  color: #262b48;
  font-weight: 500;
  font-size: 1.5rem;
}

.faq__paragraph {
  text-align: center;
  color: #919191;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.faq__accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
}

.faq__accordion:hover {
  color: #ff5659;
}

.faq__accordion::before {
  font-size: 20px;
  color: #5266df;
  margin-left: 5px;
  float: right;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.faq__accordion:hover:before {
  color: #ff5659;
}

.faq__accordion::after {
  width: 70%;
  height: 1px;
  background-color: #c4c4c4;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 13px 0 0 3rem;
}

.faq .active::before {
  content: '\f078';
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #ff5659;
}

.faq__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin-top: 1rem;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.faq__link {
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5266df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(51, 51, 51, 0);
}

.faq__link:hover {
  border: 2px solid #5266df;
  background-color: #ffffff;
  color: #5266df;
}

.cta {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #5266df;
  padding: 4rem 2rem;
}

.cta__paragraph {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -0.5rem;
}

.cta__h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cta__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta__form input[type=text] {
  padding: 15px;
  border-radius: 7px;
  border: none;
  font-family: "Rubik", sans-serif;
}

.cta__form input[type=text]::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #bdbdbd;
}

.cta__form input[type=text]:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #bdbdbd;
}

.cta__form input[type=text]::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #bdbdbd;
}

.cta__form input[type=text]::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #bdbdbd;
}

.cta__form input[type=submit] {
  border: 2px solid rgba(51, 51, 51, 0);
  background-color: #ff5659;
  padding: 1rem 2rem;
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
  border-radius: 7px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.cta__form input[type=submit]:hover {
  background-color: #ffffff;
  color: #ff5659;
  border: 2px solid #ff5659;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272c46;
  padding: 2.5rem;
}

.footer img {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.footer__ul a {
  color: #d1d1d1;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 15px;
}

.footer__ul a:hover {
  color: #ff5659;
  cursor: pointer;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-icons a {
  margin: 0 20px;
}

.footer__social-icons a img {
  margin: 0;
}

.footer__social-icons a img:hover {
  fill: red;
  cursor: pointer;
}

/* Tablet styles */
/* Laptop styles */
/* Large display styles */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 60vw;
  }
  .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    z-index: 20;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
    background-color: #ffffff;
  }
  .container .navbar nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  .container .navbar .mobile-menu,
  .container .navbar .mobile-menu-logo,
  .container .navbar .mobile-menu-exit,
  .container .navbar .mobile-menu-flex-container {
    display: none;
  }
  .container .navbar__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .navbar__li {
    padding: 0.5rem 1rem;
    width: 100%;
    text-transform: uppercase;
    color: #262b48;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    border: none;
  }
  .container .navbar__li:first-of-type {
    border: none;
  }
  .container .navbar__li:hover {
    color: #ff5659;
  }
  .container .navbar__li--login {
    display: block;
    color: #ffffff;
    background-color: #ff5659;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    margin-top: 0;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 13px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .container .navbar__li--login:hover {
    background-color: #ffffff;
    color: #ff5659;
    border: 2px solid #ff5659;
  }
  .container .hero {
    min-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0 auto;
    margin-bottom: 10rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .container .hero__text {
    position: absolute;
    left: 0;
    min-width: 50ch;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container .hero__paragraph {
    width: 45ch;
  }
  .container .hero__img img {
    display: block;
    width: 550px;
    margin-right: -100px;
  }
  .container .hero__h1 {
    color: #262b48;
    font-weight: 500;
    margin-top: 2rem;
    font-size: 3rem;
    width: 20ch;
  }
  .container .hero__links {
    display: block;
    margin-top: 2rem;
  }
  .container .hero__link {
    padding: 0.85rem 1.25rem;
    font-size: 13px;
    letter-spacing: .5px;
  }
  .container .hero__link--chrome {
    margin-right: 20px;
  }
  .container .hero__bgshape {
    width: 650px;
    height: 385px;
    top: 335px;
    right: 0px;
    border-bottom-left-radius: 50%;
  }
  .container .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container .features .features__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .container .features__h2 {
    margin-top: 8rem;
  }
  .container .features__paragraph {
    max-width: 50ch;
    margin: -.25rem auto 2rem;
  }
  .container .features .tablinks {
    width: 33%;
  }
  .container .features .tablinks:first-of-type {
    border-top: none;
  }
  .container .features .tablinks:hover::after {
    width: 20%;
    display: block;
    margin: 14px auto 0 auto;
  }
  .container .features .active:after {
    width: 20%;
    display: block;
    position: absolute;
    margin: 14px auto 0 auto;
  }
  .container .features .tabcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .container .features .tabcontent img {
    width: 50%;
    margin-top: 4.5rem;
  }
  .container .features .tabcontent__paragraph {
    max-width: 50ch;
    margin: 0 auto 1.5rem;
  }
  .container .download {
    margin-top: 12rem;
  }
  .container .download__paragraph {
    margin: -.25rem auto 1.5rem;
    max-width: 50ch;
  }
  .container .download__cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .download__card {
    -webkit-box-shadow: 0px 0px 20px -10px gray;
            box-shadow: 0px 0px 20px -10px gray;
    padding: 4rem 1rem 3rem 1rem;
    width: 300px;
    margin: -4rem 2rem 2rem 0;
  }
  .container .download__card:last-child {
    margin-right: 0;
  }
  .container .download__firefox {
    margin-top: 2rem;
  }
  .container .download__opera {
    margin-top: 8rem;
  }
  .container .download__title {
    margin-bottom: .5rem;
  }
  .container .download__version {
    color: #919191;
    font-size: 17px;
    margin-bottom: 2.5rem;
  }
  .container .faq {
    text-align: center;
    margin: 0 auto;
  }
  .container .faq__paragraph {
    max-width: 50ch;
    margin: 0 auto 2.5rem;
  }
  .container .faq__accordion {
    width: 50%;
  }
  .container .faq__accordion::after {
    width: 30%;
    margin: 13px auto;
  }
  .container .faq__panel {
    width: 55ch;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .cta {
    margin-top: 7rem;
  }
  .cta__form {
    width: 30%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cta__form input[type=text] {
    width: 25ch;
    height: 1rem;
    margin-right: 1rem;
  }
  .cta__form input[type=submit] {
    margin-top: 0;
    padding: 0.9rem 1.5rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.4rem 19.5% 1rem;
  }
  .footer img {
    margin: 0 1.5rem 0 0;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .footer__social-icons a {
    margin: 0 20px;
  }
  .footer__social-icons a img {
    display: block;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */